<%= link_to "Home", restaurants_path %>

<ul>

  <li><%= @restaurant.name %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.city %></li>
  <li><%= @restaurant.state %></li>
  <li><%= @restaurant.zipcode %></li>
  <li><%= @restaurant.description %></li>
  <li><%= @restaurant.category %></li>
</ul>

<%= link_to "Review this", new_restaurant_review_path(params[:id]) %>


<% @reviews.each do |review|%>
  <li><%= review.rating %></li>
  <li><%= review.body %></li>
<% end %>
